* {margin: 0;padding: 0;}
html {height: 100%;}
h1 {
    color: #000000;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    padding-left: 105px;
    padding-top: 100px;
    width: 320px;
}
#head {
	background:url("bglp.png") no-repeat;
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.alignleft {float:left; width:50%;}
.alignright {float:right; width:50%;}
.promovideo {margin-top: 28px;margin-left: -45px;}
.benefits {
    margin-top: 135px;
    padding-left: 6px;
	padding-top: 10px;
}
.benefits li {
    font-family: georgia,"times new roman",times,serif;
    font-size: 20px;
	list-style: none outside none;
	margin-bottom: 38px;
	/*text-shadow: 1px 1px #A9A9A9;*/	
}
.benefits em {
	background: none repeat scroll 0 0 #F4ECCE;
    padding: 1px 3px;
}
.formsubmit {
    /*background-color: #FE9500;*/
    background-color: yellowgreen;
	background-position: right top;
    background-repeat: no-repeat;
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
    display: block;
    font-family: Arial,sans-serif;
    font-weight: normal;
    height: 218px;
    margin-left: 95px;
    margin-top: -103px;	
    position: relative;
    text-decoration: none;
    text-transform: none;
	width: 420px;
}
.formsubmit p {
	font-family: Signika,Arial,sans-serif;
	color: #fff;
	font-size: 24px;
	padding: 10px;
}

#formdivname {
    display: block;
    height: 57px;
    width: 400px;
    padding-left: 10px;
	padding-top: 3px;
}
#formdivemail {
    display: block;
    height: 57px;
    width: 400px;
    padding-left: 10px;	
}

#formname {
    background-color: #FFFFFF;
    background-image: none;
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
    color: #555555;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 1.5;
    margin: 0;
    padding: 4px 6px;
    text-decoration: none;
    text-transform: none;
    width: 400px;
}
#formemail {
    background-color: #FFFFFF;
    background-image: none;
    border-color: -moz-use-text-color #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    color: #555555;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 1.5;
    margin: 0;
    padding: 4px 6px;
    text-decoration: none;
    text-transform: none;
    width: 400px;
}
#formname.error {border: 1px solid #FF0000;}
#formemail.error {border: 1px solid #FF0000;}
#order {
    background-color: #262729;
    background-image: none;
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    font-family: Signika,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 45px;
    line-height: 18px;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 400px;
    margin-left: 10px;		
}
#order:hover {
    background-color: #000;
	cursor: pointer;
}