:focus { outline:0; }
a:active { outline:none; }
ol,ul { list-style:none; }

.content ul {
    margin: -14px 250px;
	position: relative;
    z-index: 999;	
}

.content ul li {
	background: transparent;
	margin:10px auto 0;
	padding: 0px;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

#slides {
	position:relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-24px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:1000px;
	height:270px;
	overflow:hidden;
	position:relative;
	z-index: 0;
}

#slides .next {
	left:1000px;
}

.pagination {
	margin: -18px auto 0;
    padding-bottom: 20px;
    position: relative;
    width: 100px;
    z-index: 999;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	position:absolute;
	bottom:-35px;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}
