/*
 * CKFinder
 * ========
 * http://!!!@@@!!!
 * Copyright (C) 2007-2008 Frederico Caldeira Knabben (FredCK.com)
 *
 * The software, this file and its contents are subject to the CKFinder
 * License. Please read the license.txt file before using, installing, copying,
 * modifying or distribute this file or part of its contents. The contents of
 * this file is part of the Source Code of CKFinder.
 */

div.FCKThumb
{
	clear: none;
	padding: 5px;
	margin: 5px;
	float: left;
	border: #d3d3d3 1px solid;
	background-color: #ffffff;
	cursor: default;
}

div.FCKThumb table img {
	display: block;
}

tr.FCKThumb
{
	border: #d3d3d3 1px solid;
	cursor: pointer;
	cursor: default;
}

tr.FCKThumb td
{
	padding: 2px;
}

.FCKSelectedBox
{
	border: #0000ff 1px solid !important;
	background-color: #99ccff !important;
}

.FCKFileName, .FCKFileDate, .FCKFileSize
{
	margin-top: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.FCKFileName, div.FCKFileDate, div.FCKFileSize
{
	width: 100px;
	text-align: center;
}

td.FCKFileName, td.FCKFileDate
{
	text-align: left;
}

td.FCKFileSize
{
	text-align: right;
}

.FCKHideFileName .FCKFileName
{
	display: none;
}

.FCKHideFileDate .FCKFileDate
{
	display: none;
}

.FCKHideFileSize .FCKFileSize
{
	display: none;
}

.FCKThumbTools
{
	padding: 2px;
	z-index: 1;
	position: absolute;
}

.FCKBottomSpace
{
	clear: both;
	float: none;
	height: 25px;
}

.FCKSelected, .FCKSelected A, .FCKSelected A:hover
{
	background-color: #0A246A;
	color: #ffffff !important;
}

.FCKFolderLoading
{
	padding: 2px;
	padding-left: 5px;
	color: #a9a9a9;
}

.FCKChildFolders
{
	/*	padding-left: 18px;*/
}

.FCKFolder
{
	white-space: nowrap;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
}

.FCKFolderClosed .FCKChildFolders
{
	display: none;
}

.FCKFolderOpened .FCKChildFolders
{
	display: block;
}

.FCKFolder .Label
{
	padding-left: 2px;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
	cursor: hand;
}

.FCKFolderOver .Label
{
	color: #0000ff;
	text-decoration: underline;
}

.FCKFolder .Icon
{
	background-position: center center;
	background-image: url(../images/ckffolder.gif);
	cursor: pointer;
	cursor: hand;
}

.FCKFolder .PlusMinus
{
	background-position: center center;
	background-image: url(../images/ckfplus.gif);
}

.FCKFolderSelected
{
	border-style: none;
	cursor: inherit;
}

.FCKFolderSelected .Icon
{
	background-image: url(../images/ckffolderopened.gif);
}

.FCKFolderOpened .PlusMinus
{
	background-image: url(../images/ckfminus.gif);
}

.FCKFolderNoPlusMinus .PlusMinus
{
	background-image: url(../images/spacer.gif);
}

.FCKLabel A
{
	color: #000000;
	text-decoration: none;
}

.FCKLabel A:hover
{
	color: #0000ff;
	text-decoration: underline;
}

.FCKPlus .FCKPlusMinus
{
	background-image: url(../images/ckfplus.gif);
	background-repeat: no-repeat;
}

.FCKMinus .FCKPlusMinus
{
	background-image: url(../images/ckfminus.gif);
	background-repeat: no-repeat;
}

.CKFStatusBar
{
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.FoldersPane
{
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
}

.FoldersPane .PopupSelectionBox
{
	border-style: none !important;
}

#xCover
{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	filter: alpha(opacity=50); /* IE */
	opacity: 0.50; /* Safari, Opera and Mozilla */
}

#xDialog
{
	position: absolute; 
	top: 80px; 
	left: 120px; 
	text-align:center;
	padding:5px;
	overflow: auto;	/* FF bug : cursor disappears */
}

.DialogInner
{
	padding-top:25px;
	padding-bottom:30px;
	padding-left:50px;
	padding-right:50px;
}

#xDialogField
{
	margin-top:5px;
}

#xDialogButtons
{
	margin-top:15px;
}
