html, body {
	width: 100%;
	margin:0px; 
	padding:0px;
	height: 100%;
}

body{
	font: 11px Tahoma;
	background: #EDEFEF;
}



form{
	padding: 0;
	margin: 0;	
}

.address{
	padding-left:5px;
	padding-right: 5px;
	background-color: #e4e2e7;
	height: 25px;
}

.path{
	width: 100%;
	padding-left: 30px;
	background: #ffffff url(/DESIGN/ADMIN/images/address_folder.png) no-repeat 5px center;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

.go{
	display: block;
	background: transparent url(/DESIGN/ADMIN/images/go.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	text-decoration: none;
}

.close{
	display: block;
	background: transparent url(/DESIGN/ADMIN/images/close.gif) no-repeat 0 0;
	width: 20px;
	height: 20px;
	text-decoration: none;
}

.back{
	display: block;
	background: transparent url(/DESIGN/ADMIN/images/backlink.png) no-repeat 0 0;
	width: 25px;
	height: 20px;
	text-decoration: none;
}

div.container{
	width: 100%;
	height: 365px;
	overflow: auto;
}

table.folders{
	width: 100%;
	border-collapse: collapse;
}
table.folders th{
	border: 1px solid ActiveBorder;
}