
input[type=text]{
	background: #fff url(../img/input.png) 0px 0px repeat-x;
	border: 1px solid #a9a9a9;
	width: 220px;
	height: 28px;
	border-radius: 4px;
	line-height: 28px;
	margin: 0 0 0 5px;
}
label {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
header {
	background: url(../img/headerbg.png) repeat-y;
	height: 141px;
	width: 1012px;
	margin: 0 auto;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 5px 20px -3px #16181e;
}
header h1{
	float: left;
	margin: 30px 0 0 30px;
}
header h2{
	float: left;
	margin: 25px 0 0 30px;
	width: 350px;
	font-size: 18px;
	line-height: 25px;
	font-family: Tahoma, Geneva, sans-serif;
	text-transform: lowercase;
	font-weight: normal;
	color: #171717;
}
header h2 span{
	display: block;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
header div{
	float: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 31px;
	line-height: 24px;
	text-align: right;
	margin: 25px 20px 0 0;
}
header div span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	position: relative;
	top: -3px;
}
header div p b{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 10px;
	display: block;
	font-weight: normal;
	margin: 5px 0 10px;
}
header div p.tel{
	color: #da251c;
}
#block1 {
	background: url(../img/headerbg.png) repeat-y;
	height: 315px;
	width: 997px;
	padding: 15px 0 15px 15px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px -5px #16181e;
	margin: 15px auto 40px;
	position: relative;
}
#block1 .bg{
	background: #fff;
	opacity: 0.65;
	height: 60px;
	width: 1012px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px 10px 0 0;
	z-index: 0;
}
#PNG-logo{
	float: left;
	position: relative;
	top: 20px;
	z-index: 10;
}
#stoimost {
	position: relative;
	z-index: 10;
	background:url(../img/map.png) no-repeat top right;
	float: right;
	width: 480px;
}
#stoimost h3{
	font-size: 31px;
	line-height: 45px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal
}
#stoimost p{
	font-size: 14px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	width: 280px;
	margin: 10px 0 0;
}
.form{
	display: block;
	width: 390px;
	text-align: right;
	margin: 15px 0 0;
}
#block1 .form{
	background: url(../img/form1.png) left bottom no-repeat;
}
#block6 .form{
	background: url(../img/form2.png) left bottom no-repeat;
}
.form div{
	margin: 0 0 15px;
}
input[type=submit]{
	background:url(../img/submit.png);
	border: none;
	width: 220px;
	height: 40px;
	border-radius: 5px;
	line-height: 40px;
	margin: 0 1px 0 0px;
	font-size: 15px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#block2 {
	width: 1012px;
	margin: 0 auto;
}
#block2 article{
	float: left;
	width: 235px;
	margin: 0 8px;
}
#block2 h3 {
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 5px;
	height: 75px;
	font-family: Tahoma, Geneva, sans-serif;
}
#block2 p {
	font-size: 13px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	height: 55px;
}
#block2 a {
	display: block;
	width: 115px;
	height: 28px;
	background:url(../img/submit.png) repeat-x center;
	border-radius: 4px;
	margin: 12px 0 0;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 28px;
	font-family: Arial, Helvetica, sans-serif;
}
#block2 h3 img{
	float: left;
	margin: 0 13px 0 0;
}

#block4{
	width: 1012px;
	margin: 40px auto 0;
}
#block4 h3{
	font: 35px/24px Tahoma, Geneva, sans-serif;
	color: #000;
}
#block4 h3 span{
	font-weight: bold;
	color: #da251c;
}
#block4 ol{
	padding: 0 0 0 76px;
}
#block4 li{
	margin: 25px 0 0;
	position: relative;
	list-style: none;
	border: 1px solid #fff;
}
#block4 li div{
	background-repeat: no-repeat;
	background-position:: 0px 0px;
	width: 66px;
	height: 66px;
	position: absolute;
	top: 0;
	left: -78px;
	font: bold 20px/37px Arial, Helvetica, sans-serif;
	color: #e3e3e3;
	text-align: center;
}
#block4 li div.li1 { background-image:url(..work3/img/icons/1.png)}
#block4 li div.li2 { background-image:url(../img/icons/2.png)}
#block4 li div.li3 { background-image:url(../img/icons/3.png)}
#block4 li div.li4 { background-image:url(../img/icons/4.png)}
#block4 li div.li5 { background-image:url(../img/icons/5.png)}
#block4 li div.li6 { background-image:url(../img/icons/6.png)}
#block4 li div.li7 { background-image:url(../img/icons/7.png)}
#block4 li div.li8 { background-image:url(../img/icons/8.png)}
#block4 li div.li9 { background-image:url(../img/icons/9.png)}
#block4 li div.li10 { background-image:url(../img/icons/10.png)}
#block4 li h4{
	font: 29px Tahoma, Geneva, sans-serif;
	color: #000;
	text-transform: uppercase;
}
#block4 li p{
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #000;
}

#block6 {
	width: 1012px;
	margin: 40px auto 50px;
}
#block6 h3{
	font: 35px/30px Tahoma, Geneva, sans-serif;
}
#block6 h3 span{
	font-weight: bold;
	color: #da251c;
	text-transform: uppercase;
}
#block6 .left{
	height: 129px;
	width: 382px;
	background:url(../img/left.png) 0px 0px no-repeat;
	margin: 50px 0 0;
	padding: 45px 70px 45px 35px;
	font: bold 25px/30px Tahoma, Geneva, sans-serif; /*gggggggggggggggggggg*/
	color: #000;
	text-transform: uppercase;
	float: left;
}
#block6 .left p:last-child{
	font-weight: normal;
	color: #da251c;
	margin: 35px 0 0;
}
#block6 .right {
	background: url(../img/headerbg.png) repeat-y;
	height: 240px;
	width: 455px;
	padding: 15px 0 15px 40px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px -5px #16181e;
	margin: 25px auto 0px;
	position: relative;
	float: right;
}
#block6 .right h4{
	position: relative;
	z-index: 10;
	font: 29px Tahoma, Geneva, sans-serif;
	margin: 0 0 25px 0px;
}
#block6 .right .bg{
	background: #fff;
	opacity: 0.65;
	height: 60px;
	width: 495px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px 10px 0 0;
	z-index: 0;
}
footer {
	height: 100px;
	font: 14px/18px Arial, Helvetica, sans-serif;
	border-top: 1px dashed #6f6f6f;
}
footer div {
	margin: 0 auto;
	width: 1000px;
}
footer .copy {
	margin: 45px 0 0 140px;
	float: left;
}
footer .uplab {
	margin: 20px 145px 0 0;
	float: right;
	font: 12px Tahoma, Geneva, sans-serif;
	width: 225px;
	text-align: right;
}
footer .uplab a{
	margin: 0 0 0 18px;
	position: relative;
	top: 15px;
}
a > img:hover {
	opacity: 0.5;
}
input[type=submit]:hover {
	opacity: 0.5;
	cursor: pointer;
}
#block2 article a:hover {
	opacity: 0.5;
	cursor: pointer;
}

.shadow {
	position: fixed;
	z-index: 500;
	background: #000;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	top: 0;
	left: 0;
}

.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
	display:none;
	left:0;
	z-index: 100;
    width:100%;
    min-height:100%;
    background-color: rgba(255, 255, 255,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
	padding: 20px 30px 20px 30px;
    margin:15% auto;
    width:330px;
    height: 140px;
	background: url(../img/headerbg.png) repeat-y;
	border-radius: 10px;
	box-shadow: 0px 10px 20px -5px #16181e;

}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.modal-on {
	width:auto;
	margin:0 auto;
	color:#131313;
	width:100%;
	padding:40px 0;
}

.modal {
	width:auto;
	margin:0 auto;
	display:none;
	color:#131313;
	/*background:#636363 url(../img/modal.jpg) no-repeat center;*/
	width:100%;
	padding:40px 0;
}

.modal-box {
	width: 590px;
	padding: 30px 20px 20px 20px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 4px 7px rgba(20,29,33,0.29);
}

.modal-title {
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 18px;
	font-family: 'pt_bold';
	text-transform: uppercase;
	color: #065c99;
}

.modal-title span {
	font-size: 18px;
	line-height: 18px;
	display: block;
	margin-top: 9px;
	color: #000;
	text-transform: none;
	font-family: 'pt_regular';
}

.callback {
	background: url(../img/submit.png);
	border: none;
	width: 220px;
	height: 40px;
	border-radius: 5px;
	line-height: 40px;
	margin: 0 1px 0 0px;
	font-size: 15px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 11px 30px 12px 30px;	
	text-decoration: none;
}
.callback:hover {
	opacity: 0.5;
	cursor: pointer;
}